* {
	padding: 0;
	margin: 0;
}
div.flex-grid {
	width: 100%;
	height: 100vh;
	background-color: gray;
	display: flex;
}

.flex-grid > div:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	width: calc((100% / 7) * 4);
}
.flex-grid > div:nth-of-type(2) {
	display: flex;
	flex-direction: raw;
	width: calc((100% / 7) * 3);
}

.flex-grid > div:nth-of-type(1) > div {
	height: 20%;
}

.flex-grid > div:nth-of-type(1) > div:nth-of-type(3) {
	height: 40%;
}
.flex-grid > div:nth-of-type(1) > div {
	display: flex;
}
.flex-grid > div:nth-of-type(1) > div:nth-of-type(1) > div {
	width: 25%;
}
.flex-grid > div:nth-of-type(1) > div:nth-of-type(1) > div:last-child {
	width: 50%;
}

.flex-grid > div:nth-of-type(1) > div:nth-of-type(2) > div:first-child {
	width: 75%;
}

.flex-grid > div:nth-of-type(1) > div:nth-of-type(2) > div:last-child {
	width: 25%;
}

.flex-grid > div:nth-of-type(1) > div:nth-of-type(3) > div {
	width: 50%;
}

.flex-grid > div:nth-of-type(2) > div:nth-of-type(1) {
	width: calc(100% / 3);
}
.flex-grid > div:nth-of-type(2) > div:nth-of-type(2) {
	width: calc((100% / 3) * 2);
}

.flex-grid > div:nth-of-type(2) > div:nth-of-type(2) > div:first-child {
	height: 40%;
}

.flex-grid > div:nth-of-type(2) > div:nth-of-type(2) > div:last-child {
	display: flex;
	height: 60%;
}

.flex-grid > div:nth-of-type(2) > div:nth-of-type(2) > div:last-child > div {
	width: 50%;
	height: 100%;
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: larger;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	text-shadow: 0 0 4px black;
}
